
.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .gwendolyn-regular {
    font-family: "Gwendolyn", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .gwendolyn-bold {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  .thasadith-regular {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .thasadith-bold {
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .thasadith-regular-italic {
    font-family: "Thasadith", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .thasadith-bold-italic {
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  

  body {
    font-family: "Thasadith", sans-serif;
    font-size: 1.5rem; /* This sets the size to 16px if the root size is 16px */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  h2 {
    font-family: "Thasadith", sans-serif;
    font-size: 2rem; /* This sets the size to 32px if the root size is 16px */
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
  }

  .logo {
    font-family: "Gwendolyn", cursive;
    font-size: 3.5rem; /* This sets the size to 56px if the root size is 16px */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }